@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #2B4074;
    --fon-color: #F9F6E5;
    --robo-font-family: "Roboto", sans-serif;
    --roboCoden-font-family: "Roboto Condensed", sans-serif;
    --docis-font-family: "Dosis", sans-serif;
}

*{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.container, #intro.container{
    margin: 0px auto;
    position: relative;
    width: 1440px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--main-bg-color);
}
header.container img{
    margin-left: 200px;
    width: 100px;
    height: 65.73px;
}
.menuButton{
    display: flex;
    background-color: #FFFFFF;
    width:40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 200px;
    border: none;
}
.container .menuButton img{
    margin: 0;
    position: absolute;
    padding-top: 13px;
    padding-left: 14px;
    width: 13px;
    height: 14px;
}
/* start intro */
#intro{
    background-image: url('../images/roundabout/intro.svg');
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    background-size: 100%;
    width: 1440px;
    height: 668px;
    margin: 0;
}
#intro h1{
    padding: 0;
    margin: 0;
}
#slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}
.all{height: 100%;}
.all input{
    display: none;
}
#slides article{
    width: 20%;
    float: left;
}
#slides #textslides{
    width: 500%;
}
#overflow{
    width: 100%;
    overflow: hidden;
}
#textslides article div h1{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    padding-top: 95px;
}
#textslides article div p{
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    padding-top: 20px;
}
#textslides article div button{
    width: 200px;
    height: 50px;
    margin-top: 35px;
    background-color:var(--main-bg-color);
    border-radius: 7px;
    border:none;
}
#textslides article div button a{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.position{
   display: block;
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(0,-50%);
}
#controls{
    display: block;
    writing-mode: vertical-lr;
   
}
#switch1:checked~.position #controls label:nth-child(3),
#switch2:checked~.position #controls label:nth-child(1),
#switch3:checked~.position #controls label:nth-child(2){
    display: block;
    background:url('../images/roundabout/forward.svg') no-repeat;
    background-color: var(--main-bg-color);
    background-position: center;
    float: left;
    height: 70px;
    width: 70px;
}
#switch1:checked~.position #controls label:nth-child(2),
#switch2:checked~.position #controls label:nth-child(3),
#switch3:checked~.position #controls label:nth-child(1){
    background:url('../images/roundabout/back.svg') no-repeat;
    background-color: #F9F6E5;
    background-position: center;
    float: right;
    display: block;
    height: 70px;
    width: 70px;
}
.all input{
    display: none;
}
#switch1:checked~#slides #textslides{
    margin-left: 0;
}
#switch2:checked~#slides #textslides{
    margin-left: -100%;
}
#switch3:checked~#slides #textslides{
    margin-left: -200%;
}
#slides #textslides{
    transition: all 800ms cubic-bezier(0.250, 0, 0, 0);
}
#active label{
    border-radius: 15px;
    border: 2px solid #FFFFFF;
    display: inline-block;
    width: 9px;
    height: 9px;
    background:#FFFFFF;
}
#active{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#active label:hover{
    background-color: #76c8ff;
    border-color: #777 !important;
}
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3){
    background:none;
    border-color: 18a3dd !important;
}
/*PROMO*/
.promo{
    height: 192px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.promo .text{
    margin-left: 150px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promo .text h2{
font-family: var(--robo-font-family);
font-weight: 500;
font-family: 24px;
line-height: 32px;
color: #FFFFFF;
}
.promo .text p{
font-family: var(--docis-font-family);
font-weight: 300;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
}
.promo .butt{
    margin-right: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.promo .butt a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background-color: var(--fon-color);
    color: var(--main-bg-color);
    text-transform: uppercase;
    font-family: var(--robo-font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}
    /*service*/
.service{
    display: flex;
    height: 546px;
}.items{
    position: absolute;
    left:538px;
}
.items nav{
    margin: 0;
    height: 546px;
    display: flex;
    flex-wrap: wrap;
}
.items nav .services{
    width: 222px;
    height: 277px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--fon-color);
}
.items nav .services p::first-letter{
    text-transform: uppercase;
}
.psevdoServices::after{
    content:'Створимо унікальний та зручний дизайн';
    position: absolute;
    height: 48px;
    top:45%;
    text-align: center;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-family: var(--robo-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
}
.services::before{
    content:'детальніше';
    position: absolute;
    width: 196px;
    height: 20px;
    text-align: center;
    top:45%;
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.5s ease;
    font-family: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    color: var(--main-bg-color);
    text-transform: uppercase;
}
.service .psevdoServices{
    content:'детальніше';
    position: absolute;
    width:177px;
    height: 216px;
    background: none;
    border: 4px solid var(--main-bg-color);
    top:50%;
    transform: translate(0, -50%);
    transition: opacity 0.8s ease;
    opacity: 0;  
}
.services p{
    font-family: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.services:hover .psevdoServices{
opacity: 1;
}
.services img, .services p{
    transition: transform 0.5s ease;
}
.psevdoServices:hover::after{
    opacity: 1;
    transform: translateY(30px);
}
.services:hover::before{
    opacity: 1;
    transform: translateY(82px);
}
.services:hover img, .services:hover p{
    transform: translateY(-50px);
}
.items nav .services:nth-child(-n+4){
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.items nav .services:nth-child(n+5):nth-child(-n+8){
    border-bottom: none;
    border-right: none;
}
.items nav img{
    margin: 0 auto;
}
.service .text{
    margin-top: 65px;
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text article{
    display: flex;
    height: 268px;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
}
#textSetvice{
    font-family: var(--robo-font-family);
    font-weight: 5400;
    font-size: 48px;
    line-height: 56.25px;
    color: var(--main-bg-color);
    
}
#textSetvice::first-letter{
text-transform: uppercase;
}
.text article::after{
    content: '';
    width: 100px;
    height: 8px;
    position:relative;
    background-color: var(--main-bg-color);
    left:0;
    top: -65%;
}
.text article p:nth-child(1){
    font-family: var(--robo-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}
.text article p:nth-child(2){
    font-family: var(--robo-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #79797979;
}
.text article p:nth-child(3){
    display: none;
}
/*recent-work*/
.recent-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 618px;
    justify-content: space-around;
    background: linear-gradient(rgba(43,64,116,1) 0%, rgba(43,64,116,0) 100%);
}
.work-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    position: relative;
}
.work-text{
    font-family: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}
.work-text::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #FFFFFF;
    left: 50%;
    bottom: -70%;
    transform: translate(-50%, -50%);
}
.content-image{
    position: relative;
}
.content-image img:nth-child(2){
    display: none;
}
.content-image img:nth-child(3){
    display: none;
}
.content-image .serch-butt{
    content: url('../images/icons/search.png');
    position: absolute;
    left: 60%;
    top:50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}
.content-image .buttun-but{
    content: url('../images/icons/info-button.png');
    position: absolute;
    text-align: center; 
    background-repeat: no-repeat;
    left: 40%;
    top:50%;
    transform: translate(-50%, -50%);
}
.content-image nav{
    opacity: 0;
    transition: opacity 0.5s ease;
}
.content-image::before{
    content: '';
    position: absolute;
    top: 49%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color:var(--fon-color);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.content-image:hover::before{
opacity: 0.83;
}

.content-image:hover nav{opacity: 1;}
 
section.conten-portfolio{
    display:flex;
    flex-direction: column;
    gap: 30px;
}
.conten-portfolio p{
    font-family: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--main-bg-color);
}
.conten-portfolio p::first-letter{text-transform: uppercase;}
    /*video-block"*/
.video-block{
    height: 580px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    margin-top: 40px;
    gap: 115px;
}
.video-titel h1{
    margin: 0;
    font-size: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    color: #4A4A4A;
    position: relative;
}

.video-titel h1::first-letter{text-transform: uppercase;}

.video-titel h1::after{
    content:'';
    width: 113.5px;
    height: 8px;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 82px;
    left: 0;
}
.video-text{
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-between;
}
.video-text p{
    font-family: var(--robo-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #9B9B9B;
}
.video-text p:nth-child(3){
    display: none;
}
.video-text p:nth-child(4){
    display: none;
}
.video-text p:nth-child(5){
    display: none;
}
.video-text button{
    width: 230px;
    height: 60px;
    background-color: var(--main-bg-color);
}
.video-text button a{
    font-family: var(--robo-font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #F9F6E5;
    text-decoration: none;
    text-transform: uppercase;
}
.video-image img{border-radius: 4px;}
.video-image img:nth-child(2){
    display: none;
}
.video-image img:nth-child(3){
    display: none;
}
.video-image img:nth-child(4){
    display: none;
}
 /*last news*/
 .last-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1044px;
    background-color: var(--fon-color);
    justify-content: space-around;
 }
 .last-news .news-image:nth-child(3){
    display: none;
}
.last-news .news-image:nth-child(4){
    display: none;
}
.last-news .news-image:nth-child(5){
    display: none;
    
}
 .news-image{
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
 }
 .colum-image{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
.news-picturs{
    position: relative
}
.news-picturs p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFFFFF;
    font-family: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    color: #4A4A4A;
    transition: transform 0.4s ease, background-color 0.7s ease;
}
.news-picturs p::first-letter{
    text-transform: uppercase;
}
.news-picturs:hover p{
    transform: translate(-50%, -80%);
    color: var(--fon-color);
    background-color: var(--main-bg-color);
}
.news-picturs::before{
    content: '';
    position: absolute;
    width: 97%;
    height: 97%;
    border: 10px solid var(--main-bg-color);
    left: -8px;
    top: -10px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.news-picturs:hover::before{opacity: 1;}

.news-picturs a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s ease;
}
.news-picturs:hover a{
    opacity: 1;
}

.news-text{position: relative}

.news-text h1{
    margin: 0;
    font-size: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
    color: #4A4A4A;
}
.news-text h1::before{
    content: '';
    width: 100px;
    height: 8px;
    background-color: var(--main-bg-color);
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

 /*testimonal*/
.testimonial{
    height: 460px;
}
#testimonial-slider{
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}
#testimonial-slides article{
    width: 20%;
    float:left;
}
#testimonial-slides #testimonial-textslides{
    width: 500%;
}
#testimonial-overflow{
    width: 100%;
    overflow: hidden;
}
.testimonial input{
    display: none;
}
#testimonial-controls label{
    border-radius: 15px;
    border: 2px solid var(--main-bg-color);
    display: inline-block;
    width: 9px;
    height: 9px;
    background:var(--main-bg-color);
}
#testimonial-controls{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#testimonial-controls label:hover{
    background-color: #fFFFFF;
    border-color: #777 !important;
}
#switch4:checked~#testimonial-slides #testimonial-textslides{
    margin-left: 0;
}
#switch5:checked~#testimonial-slides #testimonial-textslides{
    margin-left: -100%;
}
#switch6:checked~#testimonial-slides #testimonial-textslides{
    margin-left: -200%;
}
#switch4:checked~#testimonial-controls label:nth-child(1),
#switch5:checked~#testimonial-controls label:nth-child(2),
#switch6:checked~#testimonial-controls label:nth-child(3){
    background:none;
    border-color: #476E4D !important;
}
#testimonial-slides #testimonial-textslides{
    transition: all 800ms cubic-bezier(0.250, 0, 0, 0);
}
.testimonial-block{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}
.testimonial-block span{
    background-image: url(../images/testimonail/kovichki.png);
    background-repeat: no-repeat;
    text-align: center;
    width: 50px;
    height: 50px;
}
.testimonial-block blockquote{
    font-size: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #4A4A4A;
}
.testimonial-block blockquote:nth-child(3){
    display: none;
}
.testimonial-block strong{
    font-size: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: var(--main-bg-color);
}
.testimonial-block address{
    font-size: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #4A4A4A;
    font-style: normal;
}
/*footer*/
.footer{
    height: 728px;
    width: 100%;
}
.footer span{
    height: 47px;
    display: block;
}
.footer-blocks{
    height: 639px;
    width: 100%;
    background-color: var(--main-bg-color);
    position: relative;
}
.footer-blocks::after{
    content: url(../images/title/header-logo.svg);
    width: 230px;
    height: 60px;
    background-color: var(--main-bg-color);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}
.footer-another{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 150px;
}
.footer-text{
    font-family: var(--robo-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.footer-widgets{
    display: flex;
}
.footer-image{
    width: 285px;
    height: 61px;
    border: 1px solid #7EBF84;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
}
.footer-image:nth-child(1){
    border-left: 0;
}
.copyrithing{
    margin-top: 50px;
    display: flex;
    gap: 180px;
}
.copyrithing h1{
    font-family: var(--roboCoden-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 2px;
    color: var(--fon-color);
}
.copyrithing-text{
margin-top: 25px;
}
.copyrithing-text p{
    font-family: var(--robo-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}
.copyrithing p a{
    text-decoration: none;
    color: #FFFFFF;
}
.buttun-top{
    background-color: var(--fon-color);
    height: 42px;
}
.buttun-top{
    display: block;
    position: relative;
}
.button-top-block{
    width: 100px;
    position: absolute;
    left: 1185px;
    top: 50%;
    transform: translate(0,-50%);
}
.button-top-block a{
    font-family: var(--roboCoden-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    letter-spacing: 2px;
    color: #4A4A4A;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 1024px){
    /*intro*/
    .container{
        width: 1024px;
    }
    .container#intro{
        background-image: url('../images/1024px/intro/header-bg-img.png');
        width: 1024px;
        height: 618px;
        margin: 0;
    }
    #textslides article div h1{
        font-weight: 400;
        font-size: 84px;
        line-height: 84px;
        letter-spacing: 2px;
        padding-top: 80px;
    }
    #textslides article div p{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        padding-top: 20px;
    }
    #textslides article div button{
        width: 200px;
        height: 50px;
        margin-top: 35px;
    }
    #textslides article div button a{
        font-size: 18px;
    }
    #switch1:checked~.position #controls label:nth-child(3),
    #switch2:checked~.position #controls label:nth-child(1),
    #switch3:checked~.position #controls label:nth-child(2){
        height: 56px;
        width: 56px;
    }
    #switch1:checked~.position #controls label:nth-child(2),
    #switch2:checked~.position #controls label:nth-child(3),
    #switch3:checked~.position #controls label:nth-child(1){
        height: 56px;
        width: 56px;
    }
    /*promo*/
    .promo{
        height: 160px;
    }
    .promo .text{
        margin-left: 46px;
    }
    .promo .text h2{
    font-family: 18px;
    line-height: 18px;
    }
    .promo .text p{
    font-size: 14px;
    }
    .promo .butt{
        height: 35px;
        margin-right: 35px;
    }
    .promo .butt a{
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
    /*service*/
    .service{
        display: flex;
        flex-direction: column;
        height: 912px;
    }.items{
        flex-direction: row;
        position: absolute;
        left: 0;
    }
    .items nav{
        margin: 0;
        height: 546px;
        display: flex;
        flex-wrap: wrap;
    }
    .items nav .services{
        width: 254px;
        height: 275px;
    }
    .items nav .services:nth-child(1){
        border-left: none;
        border-top: 1px solid #F9F6E5;
    }
    .items nav .services:nth-child(-n+4){
        border-right: none;
        border-top: 1px solid #F9F6E5;
    }
    .items nav .services:nth-child(n+5):nth-child(-n+8){
        border-bottom: none;
        border-right: none;
    }
    .service .text{
    margin-top: 52px;
    }
    .text article{
        height: 202px;
    }
    #textSetvice{
        text-align: center;
        padding-bottom: 50px;
    }
   
    .text article::after{
        top: -55%;
    }
    .text article p:nth-child(1) br{
       display: none;
    }
    .text article p:nth-child(2){
     display: none;
    }
    .text article p:nth-child(3){
        display: block;
        position: absolute;
        bottom: 25px;
        font-family: var(--robo-font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #797979;
    }
    /*recent-work*/
    .recent-work{
        height: 1033px;
    }
    section .work-content{
        flex-wrap: wrap;
        justify-content: left;
        margin-left: 182px;
    }
    section .content-image img{
        width: 317px;
        height: 282px;
    }
    /*video*/
    .video-image img:nth-child(2){
        display: block;
    }
    .video-image img:nth-child(1){
        display: none;
    }
    .video-text p:nth-child(3){
        display: block;
    }
    .video-text p:nth-child(2){
        display: none;
    }
    .video-block{
        height: 479px;
        margin-left: 40px;
        margin-top: 80px;
        gap: 50px;
    }
    .video-titel h1::after{
        top: 62px;
    }
    .video-text{
        height: 380px;
    }
    /*last nesw*/
    .last-news{
        height: 1368px;
    }
    .last-news .news-image:nth-child(2){
        display: none;
    }
    .last-news .news-image:nth-child(3){
        display: flex;
    }
    .last-news .news-image:nth-child(4){
        display: none;
    }
    /*testimonial*/
    .testimonial{
        height: 480px;
    }
    .testimonial-block blockquote{
        font-size: 32px;
        line-height: 37.5px;
    }
    .testimonial-block strong{
        font-size: 32px;
        line-height: 37.5px;
    }
    .testimonial-block address{
        font-size: 20px;
        line-height: 28px;
    }
    /*footer*/
    .footer{
        height: 720px;
    }
    .footer-another{
        padding-left: 43px;
    }
    .footer-image{
        width: 234px;
    }
    .copyrithing{
        gap: 120px;
    }
    .footer-text p{
        font-size: 36px;
        line-height: 32px;
    }
    .copyrithing h1{
        font-size: 18px;
        line-height: 21px;
    }
    .copyrithing-text p{
        font-size: 16px;
    }
    .button-top-block{
        left: 872px;
    }
}

/*//////////////////////////////////////////////768px//////////////////////////////*/

@media screen and (max-width: 768px){
    /*intro*/
    .container{
        width: 768px;
    }
    .container#intro{
        background-image: url('../images/768px/intro/header-bg-img.png');
        width: 768px;
        height: 465px;
        margin: 0;
    }
    #textslides article div h1{
        font-size: 60px;
        line-height: 60px;
        padding-top: 53px;
    }
    /*promo*/
    .promo{
        height: 187px;
    }
    .promo .text h2{
    font-size: 24px;
    line-height: 24px;
    }
    .promo .text p{
    font-size: 16px;
    line-height: 18px;
    }
    .promo .butt{
        height: 50px;
    }

    /*service*/
    .service{
        height: 1655px;
    }
    .items nav .services{
        width: 382px;
        height: 337px;
    }
    .items nav .services:nth-child(1),.items nav .services:nth-child(3),
    .items nav .services:nth-child(5),.items nav .services:nth-child(7){
        border-left: none;
    }
    .items nav .services:nth-child(-n+2){
        border-right: none;
        border-top: 1px solid #F9F6E5;
    }
    
    .items nav .services:nth-child(-n+4){
        border-right: none;
    }
    .items nav .services:nth-child(n+5):nth-child(-n+8){
        border-bottom: none;
        border-right: none;
    }
    .service .text{
    margin-top: 42px;
    }
    /*recent-work*/
    .recent-work{
        height: 1033px;
    }
    section .work-content{
        flex-wrap: wrap;
        justify-content: left;
        margin-left: 53px;
    }
    /*video*/
    .video-image img:nth-child(3){
        display: block;
    }
    .video-image img:nth-child(2){
        display: none;
    }
    .video-image img:nth-child(1){
        display: none;
    }
    .video-text p:nth-child(3){
        display: block;
    }
    .video-text p:nth-child(2){
        display: none;
    }
    .video-text h1{
        font-size: 36px;
        line-height: 38px;
    }
    .video-text p{
        font-size: 16px;
        line-height: 24px;
    }
    .video-titel h1::after{
        top: 58px;
    }
    .video-text button{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video-text{
        height: 285px;
    }
    /*last nesw*/
    .last-news{
        height: 1745px;
    }
    .last-news .news-image:nth-child(2){
        display: none;
    }
    .last-news .news-image:nth-child(3){
        display: none;
    }
    .last-news .news-image:nth-child(4){
        display: flex;
    }
    /*testimonial*/
    .testimonial{
        height: 410px;
    }
    .testimonial-block blockquote{
        font-size: 32px;
        line-height: 37.5px;
    }
    .testimonial-block strong{
        font-size: 32px;
        line-height: 37.5px;
    }
    .testimonial-block address{
        font-size: 20px;
        line-height: 23px;
    }
    /*footer*/
    .footer{
        height: 720px;
    }
    .footer-another{
        padding-left: 43px;
    }
    .footer-image{
        width: 172px;
    }
    .footer-text{
        margin-bottom: 35px;
    }
    .footer-widgets{
        margin-bottom: 50px;
    }
    .footer-text p{
        font-size: 32px;
        line-height: 32px;
    }
    .copyrithing{
        gap: 0px;
        flex-wrap: wrap;
        margin: 0;
        column-gap: 100px;
    }
    .footer-copyrithing{
        width: 250px;
    }
    .copyrithing h1{
        font-size: 18px;
        line-height: 21px;
    }
    .copyrithing-text p{
        font-size: 16px;
    }
    .button-top-block{
        left: 612px;
    }
}
/*//////////////////////////////////////////////640px//////////////////////////////*/
@media screen and (max-width: 640px){
    /*intro*/
    .container{
        width: 640px;
    }
    .container#intro{
        background-image: url('../images/640px/intro/bg-img.png');
        width: 640px;
        height: 386px;
        margin: 0;
    }
    #textslides article div h1{
        font-size: 60px;
        line-height: 60px;
        padding-top: 30px;
        position: relative;
    }
    #textslides article div span{
        display: block;
        position: relative;
        width: 61px;
        height: 8px;
        background-color: #4A4A4A;
        left: 50%;
        top: 20px;
        transform: translate(-50%, -50%);
    }
    #textslides article div p{
        display: none;
    }
    #textslides article div button{
        margin-top: 40px;
    }
    /*promo*/
    .promo{
        height: 254px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }
    .promo .text{
        margin-left: 0;
        justify-content: flex-start;
        gap: 15px;
    }
    .promo .text h2{
    font-size: 24px;
    line-height: 24px;
    }
    .promo .text p{
    font-size: 16px;
    line-height: 18px;
    }
    .promo .butt{
        height: 35px;
        margin-right: 0;
        border-radius: 5px;
    }
    .promo .butt a{
        border-radius: 5px;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
    /*service*/
    .service{
        display: flex;
        flex-direction: column;
        height: 1551px;
    }.items{
        flex-direction: row;
        position: absolute;
        left: 0;
    }
    .items nav .services{
        width: 382px;
        height: 337px;
    }
    .items nav .services{
        width: 315px;
        height: 310px;
    }
    .service .text{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: 20px;
        gap: 20px;
    }
    #textSetvice{
        text-align: center;
        padding-bottom: 0px;
    }
    .text article::after{
        left: 50%;
        transform: translateX(-50%);
    }
    /*recent-work*/
    .recent-work{
        height: 2288px;
    }
    .content-image img:nth-child(1){
        display: none;
    }
    .content-image img:nth-child(2){
        display: flex;
    }
    section .work-content{
        margin-left: 61px;
    }
    section .content-image img{
        width: 518px;
        height: 460px;
    }
    /*video*/
    .video-block{
        height: 1007px;
        flex-direction: column;
        justify-content: start;
        margin-left: 61px;
        padding-right: 61px;
    }
    .video-image img:nth-child(4){
        display: block;
    }
    .video-image img:nth-child(3){
        display: none;
    }
    .video-image img:nth-child(2){
        display: none;
    }
    .video-image img:nth-child(1){
        display: none;
    }
    .video-text p:nth-child(3){
        display: block;
        text-align: center;
    }
    .video-text p:nth-child(2){
        display: none;
    }
    .video-text p:nth-child(3){
        display: none;
    }
    .video-text p:nth-child(4){
        display: block;
    }
    .video-text h1{
        font-size: 36px;
        line-height: 38px;
    }
    .video-text p{
        font-size: 16px;
        line-height: 24px;
    }
    .video-titel h1::after{
        top: 58px;
    }.video-text{
        font-family: var(--roboCoden-font-family);
        font-weight: 400;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: 0;
        gap:50px;
        text-align: center;
    }
    .video-text button{
        position: static;
        transform: translate(0, 0);
        border-radius: 5px;
    }
    
    /*last nesw*/
    .last-news{
        height: 1745px;
    }
    .last-news .news-image:nth-child(2){
        display: none;
    }
    .last-news .news-image:nth-child(3){
        display: none;
    }
    .last-news .news-image:nth-child(4){
        display: flex;
    }
   
    /*testimonial*/
    .testimonial{
        height: 410px;
    }
    .testimonial-block blockquote:nth-child(2){
        display: none;
    }
    .testimonial-block blockquote:nth-child(3){
        display: block;
    }
    .testimonial-block blockquote{
        font-size: 32px;
        line-height: 37.5px;
    }
    .testimonial-block{
        font-family: var(--roboCoden-font-family);
    }
    .testimonial-block strong{
        font-size: 32px;
        line-height: 37.5px;
        font-weight: 700;
    }
    .testimonial-block{
        margin-top: 55px;
        height: 250px;
    }
    /*footer*/
    .footer{
        height: 632px;
    }
    .footer-another{
        padding-top: 100px;
    }
    .footer-image{
        width: 140px;
        height: 57px;
    }
    .footer-text p{
        font-size: 24px;
        line-height: 26px;
    }
    .footer-copyrithing{
        width: 240px;
    }
    .button-top-block{
        left: 482px;
    }
}
/*//////////////////////////////////////////////320px//////////////////////////////*/

@media screen and (max-width: 320px){
    /*intro*/
    .container{
        width: 320px;
    }
    .container#intro{
        background-image: url('../images/320px/intro/header-bg-img.png');
        background-image: url('../images/640px/intro/bg-img.png');
        width: 320px;
        height: 193px;
        margin: 0;
    }
    #switch1:checked~.position #controls label:nth-child(3),
    #switch2:checked~.position #controls label:nth-child(1),
    #switch3:checked~.position #controls label:nth-child(2){
            display: none;
    }
    #switch1:checked~.position #controls label:nth-child(2),
    #switch2:checked~.position #controls label:nth-child(3),
    #switch3:checked~.position #controls label:nth-child(1){
        display: none;
    }    
    #textslides article div{
        height: 135px;
    }  
    #textslides article div h1{
        font-size: 28px;
        line-height: 28px;
    }
    #textslides article div button{
        display: none;
    }
     /*promo*/
     .promo{
        justify-content: start;
        gap: 90px;
        align-items: center;
        height: 301px;
    }
    .promo .text{
        margin-left: 0;
        justify-content: flex-start;
        margin-top: 40px;
        width: 280px;
        gap: 5px;
    }
    .promo .text h2{
    font-size: 24px;
    line-height: 24px;
    }
    .promo .text p{
        width: 265px;
    }
    /*service*/
    .service{
        height: 2799px;
    }
    .service .text{
        margin-left: 20px;
        width: 281px;
        height: 246px;
    }
    .text p#textSetvice{
        font-size: 24px;
        line-height: 28px;
    }
    .text article p:nth-child(1) {
        font-size: 20px;
        line-height: 24px;
    }
    .text article p:nth-child(3) {
        font-size: 14px;
        line-height: 17px;
    }
    .items nav{
        margin-left: 17px;
    }
    .items nav .services:nth-child(-n+8){
        border: 1px solid #F9F6E5;
        border-right: 1px solid #F9F6E5; ;
        border-bottom: 1px solid #F9F6E5; ;
    }
    .items nav .services{
        width: 280px;
        height: 305px;
    }
    /*recent-work*/
    .recent-work{
        height: 1384px;
    }
    .content-image img:nth-child(1){
        display: none;
    }
    .content-image img:nth-child(2){
        display: none;
    }
    .content-image img:nth-child(3){
        display: flex;
    }
    section .work-content{
        margin-left: 18px;
    }
    section .content-image img{
        width: 280px;
        height: 250px;
    }
    .work-text{
        margin-top: 0px;
        font-size: 24px;
        line-height: 28px;
    }
    .work-text::after{
        width: 50px;
        height: 8px;
        top:52px
    }
    .work-content{
        gap: 20px;
    }
    section.conten-portfolio{
        gap: 15px;
    }
    /*video*/
    .video-block{
        height: 844px;
        flex-direction: column;
        justify-content: start;
        padding: 17px;
        margin: 0;
        margin-top: 17px;
    }
    .video-image img:nth-child(4){
        display: block;
        width: 280px;
        height: 250px;
    }
    .video-text p:nth-child(4){
        display: none;
    }
    .video-text p:nth-child(5){
        display: block;
        text-align: center;
    }
    section .video-text{
        gap: 70px;
    }
    .video-text h1{
        font-size: 24px;
        line-height: 38px;
    }
    .video-text p{
        font-size: 16px;
        line-height: 18px;
        width: 280px;
    }
    .video-titel h1::after{
        width: 45px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /*last nesw*/
    .last-news{
        height: 2895px;
    }
    .last-news .news-image:nth-child(4){
        display: none;
    }
    .last-news .news-image:nth-child(5){
        display: flex;
    }
   
    /*testimonial*/
    .testimonial{
        height: 421px;
    }
    .testimonial-block blockquote:nth-child(2){
        display: none;
    }
    .testimonial-block blockquote:nth-child(3){
        display: block;
    }
    .testimonial-block blockquote{
        font-size: 24px;
        line-height: 28px;
    }
    .testimonial-block strong{
        font-size: 24px;
        line-height: 28px;
    }
    .testimonial-block{
        margin-top: 55px;
        height: 250px;
    }
    #testimonial-controls{
        top:90%;
    }
    /*footer*/
    .footer{
        height: 1141px;
    }
    .footer-another{
        padding-top: 100px;
        padding-left: 0;
        align-items: center;
    }
    section.footer-blocks{
        height: 954px;
    }
    .footer-widgets{
        flex-direction: column;
    }
    .footer-image{
        width: 140px;
        height: 34px;
        border: none;
    }
    .footer-text p{
        width: 274px;
        font-size: 20px;
        line-height: 22px;
        text-align: center;

    }
    .copyrithing{
        flex-wrap: nowrap;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 240px;
        gap: 25px;
    }
    section .buttun-top{
        height: 142px;
    }
    .button-top-block{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}